streamlit
pandas
numpy
plotly
xgboost
imbalanced-learn
scikit-learn
joblib
shap
matplotlib
streamlit-shap
scipy
scikit-optimize
opencv-python-headless
ultralytics
torch
transformers
Pillow
seaborn
gdown
